{% extends 'bootstrap/base.html' %}
{% block title %}
    修改头像
{% endblock title %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock styles %}
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('blue.index') }}">首页</a></li>
                    <li><a href="#"> 主页 </a></li>
                    <li><a href="#">关于我们</a></li>
                </ul>

                {# 登录注册按钮 #}
                <ul class="nav navbar-nav navbar-right">
                    {% if user %}
                        <li>
                            <a href="" style="margin: 0px;padding: 0px"><img src="../static/img/headimg/{{ user.icon }}" alt="" class="headimg"></a>
                            </li>
                        <li><a href="#">{{ user.name }}</a></li>
                        <li><a href="/logout/">退出</a></li>
                    {% else %}
                        <li data-toggle="modal" data-target="#register-myModal"><a href="#">注册</a></li>
                        <li data-toggle="modal" data-target="#login-myModal"><a href="#">登陆</a></li>
                    {% endif %}
                </ul>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <!-- Modal 注册-->
    {# 注册按钮关联内容 #}
    <div class="modal fade" id="register-myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog " role="document">
            <div class="modal-content modal-content-register">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">注册页面</h4>
                </div>
                <form action="/register/" method="post" id="formid">
                    <div class="modal-body">
                        <div class="form-group  has-feedback" id="account">
                            <div class="input-group">
                                <span class="input-group-addon">邮箱</span>
                                <input type="email" class="form-control account" id="inputGroupSuccess1"
                                       aria-describedby="inputGroupSuccess1Status"
                                       name="account">
                            </div>
                            <span class="form-control-feedback" aria-hidden="true"></span>
                            <i></i>
                        </div>
                        <div class="form-group  has-feedback" id="password">

                            <div class="input-group">
                                <span class="input-group-addon">密码</span>
                                <input type="password" class="form-control" id="inputGroupSuccess1"
                                       aria-describedby="inputGroupSuccess1Status"
                                       name="password">
                            </div>
                            <i></i>
                        </div>
                        <div class="form-group  has-feedback" id="passwd">

                            <div class="input-group">
                                <span class="input-group-addon">确认密码</span>
                                <input type="password" class="form-control" id="inputGroupSuccess1"
                                       aria-describedby="inputGroupSuccess1Status"
                                       name="check_pwd">
                            </div>
                            <span class="form-control-feedback" aria-hidden="true"></span>
                            <i></i>
                        </div>
                        <div class="form-group  has-feedback">

                            <div class="input-group">
                                <span class="input-group-addon">昵称</span>
                                <input type="text" class="form-control" id="inputGroupSuccess1"
                                       aria-describedby="inputGroupSuccess1Status"
                                       name="nick_name">
                            </div>
                            <span class="form-control-feedback" aria-hidden="true"></span>
                            <i></i>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary register blue-button">注册</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal 登陆-->
    {# 登录按钮关联内容 #}
    <div class="modal fade" id="login-myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">

            <div class="modal-content modal-content-login">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">登录页面</h4>
                </div>
                <form action="/login/" method="post" id="login">
                    <div class="modal-body">
                        <div class="form-group  has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon">邮箱</span>
                                <input type="email" class="form-control" id="inputGroupSuccess1"
                                       aria-describedby="inputGroupSuccess1Status"
                                       name="account_login">
                            </div>
                            <span class="form-control-feedback" aria-hidden="true"></span>
                            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
                        </div>
                        <div class="form-group  has-feedback">

                            <div class="input-group">
                                <span class="input-group-addon">密码</span>
                                <input type="password" class="form-control" id="inputGroupSuccess1"
                                       aria-describedby="inputGroupSuccess1Status"
                                       name="password_login">
                            </div>
                            <span class="form-control-feedback" aria-hidden="true"></span>
                            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary login">登录</button>
                    </div>
                </form>


            </div>

        </div>
    </div>

{%- endblock navbar %}


{% block content -%}

    <form action = "" method = "post" enctype=multipart/form-data>
		<input type = "file" name = file id="f">
{#		<input type = "submit" value = Upload>#}
        <input type = "button" value = Upload class="modimg">
	</form>

{%- endblock content %}


{% block scripts %}
    {{ super() }}
    <script src="../static/js/index.js"></script>
    <script src="../static/js/check.js"></script>
    <script src="../static/js/modimg.js"></script>
{% endblock scripts %}